<mrx-content-wrapper maxWidth="860px" customClasses="px-80px">
  <div class="mxw-px-563">
    <h2 class="mb-4">Компоненты</h2>
    <p class="mb-5">
      Набор базовых элементов интерфейса, которые объединяются для создания более сложных компонентов и экранов.
    </p>
    <h3 class="mb-4">Список компонентов</h3>
    <div class="d-flex">
      <div class="mr-32px mnw-px-265">
        <!-- не использовала mrx-label т.к. нужен font-size 16px -->
        <p class="text-bold pb-12px">Формы</p>
        <a href="/" class="pb-12px d-block color-accent">Сообщение об ошибке</a>
        <a href="/" class="pb-12px d-block color-accent">Селект</a>
        <a href="/" class="pb-12px d-block color-accent">Выбор даты</a>
        <a href="/" class="pb-12px d-block color-accent">Компонент</a>
      </div>
      <div class="mnw-px-265">
        <p class="text-bold pb-12px">Представления данных</p>
        <a href="/" class="pb-12px d-block color-accent">Таблица</a>
      </div>
    </div>
  </div>  
</mrx-content-wrapper>
