<mrx-content-wrapper maxWidth="860px" customClasses="px-80px">
<!--  <div class="markdown-content">-->
<!--    <markdown-->
<!--      lineNumbers-->
<!--      [start]="5"-->
<!--      src="/assets/docs/main/content.md">-->
<!--    </markdown>-->
<!--  </div>-->
  <h2 class="mb-4">О дизайн-системе</h2>
  <div class="mxw-px-563">
      <p class="mb-4">
        Дизайн-система разрабатывается для 
        <a href="/">«Портала предоставления мер финансовой государственной поддержки»</a>.
        Она помогает привести внешний вид продуктов к стилистическому единообразию и применять
        единые логические подходы к реализации пользовательских сценариев.
      </p>
      <p class="mb-2">
        Мы придерживаемся методологии атомарного дизайна, что подразумевает разработку отдельных частей системы,
        которые впоследствии можно объединить для создания шаблонов и полноценных веб-страниц.
        Атомарный дизайн дисциплинирует, настраивает на системный подход к делу, учит отслеживать повторения
        и упаковывать их в стандартный решения.
      </p>
      <a href="/" class="d-block mb-4">Атомарный дизайн | Брэд Фрост</a>
      <p class="mb-3">
        UI Kit дизайн-системы находится в Figma, а библиотека компонентов опубликована на GitHab
      </p>
      <div class="d-flex">
        <a href="/" class="d-flex align-items-center mr-32px">
          <img src="/assets/images/figma_logo.svg" class="mr-2">
          <span>UI Kit в Figma</span>
        </a>
        <a href="/" class="d-flex align-items-center">
          <img src="/assets/images/github-logo.svg" class="mr-2">
          <span>GitHab</span>
        </a>
      </div>
  </div>
</mrx-content-wrapper>
